<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="taskDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${task_jdbc.driver}"/>
        <property name="url" value="${task_jdbc_url}"/>
        <property name="username" value="${task_jdbc_username}"/>
        <property name="password" value="${task_jdbc_password}"/>
    </bean>

    <!--   调度quartz的工厂    -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="dataSource" ref="taskDataSource"/>
        <property name="configLocation" value="classpath:quartz.properties"/>
        <property name="applicationContextSchedulerContextKey" value="applicationContext"/>
        <property name="triggers">
            <list>
                <ref bean="testQuartzWorkJobDetailTrigger"/>
                <ref bean="testQuartzDoSomeWorkJobDetailTrigger"/>
            </list>
        </property>
    </bean>

    <bean id="testQuartzWorkJobDetailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="testQuartzWorkJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>0 */2 * * * ?</value>
        </property>
        <property name="jobDataAsMap">
            <map>
                <entry key="beanName" value="testQuartz"/>
                <entry key="methodName" value="work"/>
            </map>
        </property>
    </bean>
    <bean id="testQuartzDoSomeWorkJobDetailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="testQuartzDoSomeWorkJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>0/5 * * * * ?</value>
        </property>
        <property name="startDelay" value="100000"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="beanName" value="testQuartz"/>
                <entry key="methodName" value="doSomeWork"/>
            </map>
        </property>
    </bean>

    <bean id="testQuartzWorkJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.test.quartz.quartz.job.JobBean"/>
        <property name="durability" value="true"/>
        <property name="requestsRecovery" value="true"/>
        <property name="description" value="workJob"/>
    </bean>
    <bean id="testQuartzDoSomeWorkJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.test.quartz.quartz.job.JobBean"/>
        <property name="durability" value="true"/>
        <property name="requestsRecovery" value="true"/>
        <property name="description" value="doSomeWorkJob"/>
    </bean>

    <!--<bean id="testQuartzWorkJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="testQuartz"/>
        </property>
        <property name="targetMethod">
            <value>work</value>
        </property>
        <property name="concurrent" value="false"/>
    </bean>
    <bean id="testQuartzDoSomeWorkJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="testQuartz"/>
        </property>
        <property name="targetMethod">
            <value>doSomeWork</value>
        </property>
        <property name="concurrent" value="false"/>
    </bean>-->

    <!--<bean id="testQuartz" class="com.test.quartz.quartz.TestQuartz"/>-->

</beans>