<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testQuartzWorkJobDetailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="testQuartzWorkJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>0 0/1 * * * ?</value>
        </property>
        <property name="group" value="workTriggerGroup"/>
        <property name="description" value="workTrigger"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="beanName" value="testQuartz"/>
                <entry key="methodName" value="work"/>
            </map>
        </property>
    </bean>
    <bean id="testQuartzDoSomeWorkJobDetailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="testQuartzDoSomeWorkJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>0/30 * * * * ?</value>
        </property>
        <property name="group" value="doSomeWorkTriggerGroup"/>
        <property name="description" value="doSomeWorkTrigger"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="beanName" value="testQuartz"/>
                <entry key="methodName" value="doSomeWork"/>
            </map>
        </property>
    </bean>

    <import resource="classpath:spring/spring-quartz-jobDetail.xml"/>

</beans>